{% extends 'base.html' %}

{% block content %}
<div class="chat-box" id="chat-box">
    {% for message in messages %}
    <div class="{{ message.class }}">
        {# 
        ■改行が含まれるメッセージも正しく表示されるように
        {{ message.text|safe }} の |safe（セーフフィルター）という機能で、<br> タグをそのまま表示させています。
        #}
        {{ message.text|safe }}
    </div>
    {% endfor %}
</div>

<form method="POST" action="/" id="chat-form">
    <div class="input-box">
        {# 
        ■画面表示時、入力欄にオートフォーカス
        autofocus 属性を追加することで、画面表示時に入力欄へオートフォーカスさせています。あわせて required 属性を追加して入力必須としています。
        #}
        <textarea name="user_message" id="user-input" placeholder="メッセージを入力..." required autofocus></textarea>
        <button type="submit" id="submit-button">送信</button>
    </div>
</form>

{#
■「履歴を削除」ボタンの追加
/clear アクションに送信する「履歴を削除」ボタンを追加しています。
#}
<form method="POST" action="/clear">
    <button type="submit" class="clear-button">履歴を消去</button>
</form>

{#
■main.jsの読み込み
フロントエンド側の、細かな画面制御にはJavaScriptが必要です。それらを実現するためにJavaScriptが書かれた main.js ファイルを読み込んでいます。
#}
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}